#loginButtonBox {
    border: 3px solid black;
    height: 60px;
    width: 455px;
    border-radius: 30px;
    font-weight: 900;
    color: #808080;
}

#textboxBorder {
    border-color: #6dcff6;
    border-bottom: 2px solid black;
}

input {
    text-align: center;
}

.row {
    margin-bottom: 200px;
    /*border: 1px solid;*/
}

.row input, span, .checkbox {
    margin-left: 500px;
}

.row h2, h4 {
    text-align: center;
}

.checkbox {
    width: 50%;
}

.center {
    text-align: center;
    margin-left: 50px;
}

.row p, text {
    text-align: center;
}

.loginBackground {
    background-color: #6dcff6;
}

input[type="text"] {
    background-color: #6dcff6;
}

input[type="text"]:-ms-input-placeholder {
    color: #ffffff;
}

input[type="text"]::-moz-placeholder {
    color: #ffffff;
}

input[type="password"] {
    background-color: #6dcff6;
}

input[type="password"]:-ms-input-placeholder {
   color: #ffffff;
}

input[type="password"]::-moz-placeholder {
    color: #ffffff;
}
