@model MrDelivery.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    #change {
        margin-top: 20px;
        margin-left: 150px;
    }
    input {
        text-align: left;
    }
</style>
@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="row" id="change">
    <h2>@ViewData["Title"]</h2>
    <p style="color:#009811">@TempData["success"]</p>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="password">Old Password</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="password">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword">Confirm Password</label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success"  style="width:100%">Update password</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

