
@{
    ViewData["Title"] = "_LoginPartial";
}


@if (ViewData["cusId"] != null)
 {
     <ul class="nav navbar-nav navbar-right">
          <li><a>Welcome @ViewData["cusName"] </a></li>
          <li>Logout</li>
     </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li class="text"><a asp-area="" asp-controller="Home" asp-action="Index">FREE DELIVERY ON FIRST ORDER</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="box">
        <li style="color:#ffffff;font-weight:bold"><a asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a></li>
        <li style="background-color:#00ffff;color:#000000;font-weight:bold"><a asp-area="" asp-controller="Account" asp-action="Register">SIGNUP</a></li>
    </ul>
}
