<br/><br/>
<div class="nav navbar-left">
    <div class="panel-group">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/#/" data-toggle="collapse" data-parent="accordion">Manage Your Account</a><br/><br/>
                    <span>Change Your Account Settings</span>
                </h4>
            </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav">
                        <li style="font-size:20px;font-weight:700"><a>@Html.ActionLink("Profile", "MyAccount", "Account")</a></li>
                        <li style="font-size:20px;font-weight:700"><a>@Html.ActionLink("Change Password", "ChangePassword", "Account")</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>