
@{
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}
<style>
    .row .container {
        margin-bottom: 200px;
        margin-left: 25%;
    }
    .checkoutbox {
        background: #fff;
        border: 0;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
    }
    .submit-button {
        background: #FEE155;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        box-sizing: border-box;
        color: #31312c;
        cursor: pointer;
        display: block;
        font-size: .875em;
        font-weight: 900;
        height: 4em;
        line-height: 4em;
        outline: none;
        padding: 0;
        text-align: center;
        transition: background 0.2s linear, color 0.2s linear;
        width: 100%;
    }
    .row label.special {
        transition: all .2s linear;
        left:0;
        padding:5px 0;
        width:100%;
        font-weight:400;
        pointer-events:none;
        cursor:pointer;
    }
    .row label{
        display: block;
        margin-bottom: 5px;
    }
    .row h5 {
        font-weight:bold;   
    }
</style>
<div class="row">
    <div class="container col-sm-6 col-md-6 col-lg-6">
        <br/>
        <h5>Delivery Address</h5>
        <div class="checkoutbox">
            <div class="row">
                <label class="active special">Confirm street number...</label>
                XXXXXX
                <label class="active special">Building type</label>
                XXXXXXXXXXXXX
                <label class="active special">Unit no &Aacute; </label>
                XXXXXX
                <label>complex name...</label>
                XXXXXXXXXX
                <label class="active special">First Name</label>
            </div>
        </div>
        <h5>Contact Details</h5>
        <div  class="checkoutbox">
            <div class="row">
                <label class="active special">First Name</label>
                <input type="hidden" name="name" value="" />XXXXXXXXXXX
                <label class="active special">Phone Number</label>
                <input type="hidden" name="name" value="" />XXXXXXXXXXX
                <label class="active special">Alternate Number</label>
                <input type="hidden" name="name" value="" />XXXXXXXXXXX
            </div>
        </div>
        @*<h5>Payment Method</h5>
        <div class="checkoutbox">

        </div>*@
        <br/>
        <div class="checkoutbox">
            <div class="row">
                <span>Food Total</span>
                <span></span>
            </div>
            <div class="row">
                <span>Service Fee</span>
                <span></span>
            </div>
            <br />
            <span>Total</span>
            <span></span>
        </div>
        <br/>
        <a class="submit-button" asp-action="Pay" asp-controller="Checkout" onclick="JavascriptFunction();">
            <span>Continue to Card Payment</span>
        </a>
    </div>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            Loading, please wait...<img src="~/images/tenor.gif" />
            @*<img src="~/images/44frgm.gif" />*@
        </p>
    </div>
</div>

<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Pay", "Checkout")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
</script>
