
@{
    Layout = "~/Views/Shared/_SuccessLayout.cshtml";
}

<style>
    .down {
        margin-top: 50px;
        text-align: center;
    }
    .down p {
        font-size: 24px;
    }
</style>
<div class="down">
    <p> Thank you!! We received your payment. </p>
    <p>Your order will be delivered soon!!</p>
</div>
