@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    .brands-section .brans-restuarants ul li input {
        display: none;
    }
    .brands-section .brans-restuarants ul li .image {
        display: none;
    }
    input[type="radio"] {
        margin: 3px 3px 0px 5px;
    }
    *, input {
        box-sizing: border-box;
    }
    label {
        cursor: default;
    }
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .restaurant-logo {
        height: 80px;
        text-indent: -9999em;
        width: 140px;
        background-repeat: no-repeat;
        position: absolute;
        margin-left: -80px;
        background-size: 50%;
    }
    .img-inline{
        display: inline-block;
        float:left;
        clear:both;
        padding:20px 20px 20px 230px;
    }
    #brandbox-section {
        height: 320px;
        width: 100%;
        border-color: #000000;
        border: 2px solid;
        border-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 320px;
    }
</style>
<div class="brands-section" id="brandbox-section">
    <h3 class="title">What do you feel like? </h3>
    <h2 class="subtitle">Get it delivered from over 1600 restaurants, including SA' favourites...</h2>
    <div class="img-inline" >
        <img src="~/images/brands/panarottis.PNG"/>
        <img src="~/images/brands/wimpy.PNG"/>
        <img src="~/images/brands/spur.PNG"/>
        <img src="~/images/brands/simplyasia.PNG"/>
        <img src="~/images/brands/roccomamas.PNG"/>
        <img src="~/images/brands/ob.PNG"/>
        <img src="~/images/brands/nandos.PNG"/>
        <img src="~/images/brands/kfc.PNG" />
        <img src="~/images/brands/colcacchio.PNG"/>
    </div>
    @*<div class="brans-restuarants">
        <ul>
            <li>
                <label>
                    <img src="~/images/brands/panarottis.PNG"  class="restaurant-logo" />
                </label>
            </li>
            <li>
                <img src="~/images/brands/wimpy.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/spur.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/simplyasia.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/roccomamas.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/ob.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/nandos.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/kfc.PNG" class="restaurant-logo"/>
            </li>
            <li>
                <img src="~/images/brands/colcacchio.PNG" class="restaurant-logo"/>
            </li>
        </ul>
    </div>*@
</div>
